# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Streamlit cache
.streamlit/

# Temporary PDFs
temp/

# VS Code
.vscode/

# macOS
.DS_Store